:root {
    --color1: #040535;
    --color2: #fc5409;
    --outline: white;
  }

/* Generic attributes & Media queries*/
*{
    margin: 0;
}
h2{ /* Section names Ex: About Me */
    font-size:2.5vmax; 
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px var(--outline);
    background-color:var(--color1);
    color: var(--color2);
    display: flex;
    align-items: center;
    padding: 28px 0 0 10px;
}

/* Header section */
header{
    background-color:var(--color1);
    color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 2px;
    border-color:var(--color2);
}
header h1{ /* My name at top left */
    font-size:4.6vmax; 
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px var(--outline);
}
header nav ul{ /* nav words */
    font-family:Arial, Helvetica, sans-serif; 
    display: flex;
    align-items: flex-end;
    gap: 1.75em;
    font-size: 28px;
    list-style:none;
    flex-wrap: wrap;
    text-shadow: .5px .5px var(--outline);
    padding: 20px 5px 0px 5px;
}
header nav a{
    color: var(--color2);
    font-size: 18px;
}


/* Hero section */
.hero {
    background-image: url('../images/chess.jpg');
    background-size: 90%;
    background-position:center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height:16em;
    align-self: flex-end;
    width: 100%;
    background-color:var(--color2);
  }


/* About me section */
.about-me-row {
    display: flex;
    align-items: space-between;
    background-color: var(--color2);
    outline-offset: -5px;
    outline-width: 4px;
    outline-color: var(--outline);
  }
.about-me-description p{
    padding: 4px 4px 4px 8px;
    font-size:2.5vmax; 
  }
.about-me-img{
    padding: 2% 2% 1% 4%;
    flex: 1 12%;
    max-width: 40%;
    border-radius: 10px;
}
@media screen and (max-width: 500px) {
  .about-me-img{
    align-self: flex-end;
    width: auto;
  }
}


/* Skills section */
.skills{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background: var(--color2);
}
#skills ul{
  font-size: 27px;
  color:var(--color1);
  background-color: var(--outline);
  border: var(--color2);
  border-width: 4px;
  border-style:inset;
}
/* Leave in here for old flex formating */
.skill{
  margin: 20px;
  flex: 1;
  color: var(--color1);
  background-color: var(--outline);
  border-radius: 10px;
}

.skill-details{    
  padding: 25px;
  line-height: 1.3;
  font-size: 20px;
}
.skills-row {
    display: flex;
    align-items: space-between;
    background-color: var(--color1);
    border: 0.5rem outset var(--color2);
}



  /* Portfolio style */
  .portfolio-row {
    display: flex;
    align-items: space-between;
    background-color: var(--color1);
    border: 0.5rem outset var(--color2);
  }
  .program-run {
    margin: 20px;
    flex: 1;
    color: var(--color1);
    background-color: var(--outline);
    border-radius: 10px;
    background-image: url('../images/runbuddy.jpg');
    font-size: 1%;
    height: 260px;
    width: 400px;
    color: yellow;
  }
  .program-run:hover{
    margin: 20px;
    flex: 1;
    color: var(--color1);
    background-color: var(--outline);
    border-radius: 10px;
    background-image: url('../images/runbuddy.jpg');
    font-size: 777%;
    height: 266px;
    width: 450px;
    color: yellow;
  }
  .program-robot {
    margin: 20px;
    flex: 1;
    color: var(--color1);
    background-color: var(--outline);
    border-radius: 10px;
    background-image: url('../images/robot.jpg');
    font-size: 1%;
    height: 260px;
    width: 400px;
    color: yellow;
  }
  .program-robot:hover {
    margin: 20px;
    flex: 1;
    color: var(--color1);
    background-color: var(--outline);
    border-radius: 10px;
    background-image: url('../images/robot.jpg');
    font-size: 666%;
    height: 266px;
    width: 450px;
    color: yellow;
  }
.program-password{
  margin: 20px;
  flex: 1;
  color: var(--color1);
  background-color: var(--outline);
  border-radius: 10px;
  background-image: url('../images/passWordGen.png');
  background-position: center;
  font-size: 1%;
  height: 260px;
  width: 400px;
  color: yellow;
}
.program-password:hover {
  margin: 20px;
  flex: 1;
  color: var(--color1);
  background-color: var(--outline);
  border-radius: 10px;
  background-image: url('../images/passWordGen.png');
  background-position: center;
  font-size: 666%;
  height: 266px;
  width: 450px;
  color: yellow;
}


  /* Contact me style */
.contact-me-row {
    display: flex;
    align-items: space-between;
    background-color: var(--color1);
    border: 0.5rem outset var(--color2);
  }
.contact-me-row ul{ /* nav words */
    color: var(--outline);
    font-family:Arial, Helvetica, sans-serif; 
    display: flex;
    align-items:stretch;
    gap: 1.75em;
    font-size: 28px;
    list-style:none;
    flex-wrap: wrap;
    text-shadow: .5px .5px var(--outline);
    padding: 20px 5px 0px 5px;
}
